body {
	margin: 50px;
    background-color: darkgrey;
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;
    
    
}

p {
    font-family: 'Overpass', sans-serif;
}

h1 {
    font-size: 1.7em;
    
}

h2 {
    font-size: 1.2em;
}

.c {
    text-decoration-line: line-through;
}