body {
	margin: 50px;
    background-color: darkgrey;
    /* font-family: 'Tangerine', serif; */
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.2em;
}

.c {
    text-decoration-line: line-through;
}

.container {
    text-align: center;
}

.buttons-font {
    font-family: "Play"
}

.edit {
    background-color: aquamarine;
    border-radius: 8px;
}

.edit:hover {
    cursor: pointer;
    color:#1883ba;
    background-color: red;
}

.delete {
    background-color: bisque;
    border-radius: 8px;
}

.delete:hover {
    cursor: pointer;
    color:#1883ba;
    background-color:rebeccapurple;
}

.add {
    background-color: chocolate;
    border-radius: 8px;
}

.add:hover {
    cursor: pointer;
    color:#1883ba;
    background-color:greenyellow;
}

.task-class {
    height: 30px;
    width: 300px;
    border-radius: 8px;
}

.task-class:focus {
    border-color: crimson !important;
    box-shadow: 6px 6px 0px rgb(163, 7, 7);
    outline: none;
}